@font-face {
    font-family: 'Nudista';
    src: url('fonts/nudista_-_medium-webfont.eot');
    src: url('fonts/nudista_-_medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/nudista_-_medium-webfont.woff') format('woff'),
         url('fonts/nudista_-_medium-webfont.ttf') format('truetype'),
         url('fonts/nudista_-_medium-webfont.svg#NudistaMedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nudista';
    src: url('fonts/NudistaLight.eot');
    src: url('fonts/NudistaLight.eot?#iefix') format('embedded-opentype'),
         url('fonts/NudistaLight.woff') format('woff'),
         url('fonts/NudistaLight.ttf') format('truetype'),
         url('fonts/NudistaLight.svg#NudistaMedium') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Nudista';
    src: url('fonts/nudista_-_semibold-webfont.eot'); src: url('nudista_-_semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/nudista_-_semibold-webfont.woff') format('woff'),
         url('fonts/nudista_-_semibold-webfont.ttf') format('truetype'),
         url('fonts/nudista_-_semibold-webfont.svg#NudistaSemiBold') format('svg');
    font-weight: 500;
    font-style: normal;
}

