.main-navigation {
	display: none;
	text-align: center;
	width: 100%;
	@media screen and (min-width: $midwidth) {
		display: block;
	}

	a {
		font-family: $font-bebas-regular;
		font-weight: normal;
		text-decoration: none;
		line-height: 1.2;
		display: block;
		outline: none;
		@include transition(all ease-out .3s);
	}

	ul {
		margin: 0 0;
		padding: 0 0;
		list-style: none;
	}

	.menu {
		@media screen and (min-width: $tabwidth) {
			text-align: center;
		}
	}

	.menu a {
		font-size: 20px;
		color: #FFF;
	}

	.menu > li {
		display: inline-block;
	}

	.menu > li > a {
		padding: .75em .9em;
		letter-spacing: 1px;
	}

	.menu > li.active > a,
	.menu a:hover {
		color: $color-yellow;
	}
}

.mobile-navigation {
	display: block;
	@media screen and (min-width: $midwidth) {
		display: none;
	}
}