h1,h2,h3,h4,h5,h6 {
	font-family: $font-heading;
	font-weight: 500;
}
p a {
	color: $color-red;
	text-decoration: none;
	@include transition(all ease-out .3s);
	&:hover {
		color: $color-red;
		opacity: 0.5;
	}
}
.banner {
	position: relative;
	background-color: $color-grey;
	background-size: cover;
	background-position: top center;
	background-repeat: no-repeat;
	img {
		visibility: hidden;
		width: 100%;
		height: auto;
		position: relative;
	}
	.overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,.55);
		z-index: 2;
	}
	.caption {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 5;
		text-align: center;
	}
	.inside {
		box-sizing: border-box;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		padding-left: 30px;
		padding-right: 30px;
		color: #FFF;
		width: 100%;
		@media screen and (min-width: $midwidth) {
			top: 65%;
			transform: translateY(-65%);
		}
	}
	.title, .subtitle {
		line-height: 1.2;
	}
	.title {
		font-family: $font-heading;
		font-size: 30px;
		font-weight: 400;
		margin: 0 0;
		@media screen and (min-width: $tabwidth) {
			font-size: 40px;
		}
		@media screen and (min-width: $midwidth) {
			font-size: 60px;
		}
	}
	.subtitle {
		font-family: $font-bebas-regular;
		font-size: 20px;
		font-weight: normal;
		letter-spacing: 1px;
		text-transform: uppercase;
		color: $color-yellow;
		margin-top: 30px;
		margin-bottom: 0;
		@media screen and (min-width: $tabwidth) {
			font-size: 25px;
		}
		@media screen and (min-width: $midwidth) {
			font-size: 38px;
		}
	}
}
.logo {
	width: 100%;
	text-align: center;
}
.section {
	position: relative;
	h2 {
		font-size: 30px;
	}
	.wrapper {
		padding-top: 60px;
		padding-bottom: 65px;
		position: relative;
		z-index: 20;
	}
	.button a {
		display: inline-block;
		text-decoration: none;
	}
	a {
		@include transition(all ease-out .3s);
	}
	.imagediv img {
		width: 100%;
		height: auto;
	}
	.btn-red-border,
	.btn-white-border {
		display: inline-block;
		padding: 9px 26px 8px;
		font-size: 14px;
		text-transform: uppercase;
		letter-spacing: 1px;
		border-radius: 3px;
		background-color: transparent;
	}
	.btn-red-border {
		color: $color-maroon;
		border: 2px solid $color-maroon;
		&:hover {
			background-color: $color-maroon;
			color: #FFF;
		}
	}
	.btn-white-border {
		color: #FFF;
		border: solid 2px #FFF;
		opacity: 0.75;
		&:hover {
			background: rgba(255,255,255,0.7);
			color: #000;
		}
	}

	.content-image {
		text-align: center;
	}
}
.section.reservations {
	border-bottom: 1px solid #ddd;
	.smalltxt {
		font-size: 10px;
		font-family: $font-bebas-bold;
		text-transform: uppercase;
		letter-spacing: .15em;
	}
	.title2 {
		margin-top: 50px;
		margin-bottom: 0;
	}
	.button {
		margin-top: 18px;
	}
	.button a {
		background: $color-dark-grey;
		color: #FFF;
		letter-spacing: .5px;
		padding: 8px 30px;
		border-radius: 300px;
		&:hover {
			opacity: .6;
		}
	}
	.poweredlogo {
		margin-top: 40px;
		margin-bottom: 40px;
	}
	.title3 {
		font-family: $font-bebas-bold;
		font-weight: 400;
		font-style: normal;
		font-size: 20px;
		color: $color-maroon;
		margin: 0 0 10px;
	}
}
.section.delivery {
	border-bottom: 1px solid #ddd;
	.button {
		margin-top: 10px;
		margin-bottom: 35px;
	}
	.imagediv {
		padding-bottom: 50px;
		margin-bottom: 60px;
		border-bottom: 1px solid #ddd;
	}
	.imagediv.last {
		padding-bottom: 0;
		margin-bottom: 30px;
		border-bottom: none;
	}
	.apps img {
		width: 100%;
		height: auto;
		float: left;
	}
	.apps a {
		display: inline-block;
		width: 140px;
		margin: 40px 5% 0;
	}
}

.food-menu {
	margin-top: 20px;
	margin-bottom: 20px;
	ul {
		margin: 0 0;
		padding: 0 0;
		list-style: none;
		text-align: center;
	}
	li {
		display: inline-block;
		padding: 0 40px;
	}
	a {
		text-decoration: none;
	}
}
.section.menus {
	.food-menu li {
		margin-bottom: 20px;
		@media screen and (min-width: $tabwidth) {
			width: 50%;
			float: left;
			padding: 0 0;
		}
		@media screen and (min-width: $midwidth) {
			width: 25%;
		}
		a {
			width: 180px;
			padding: 12px 10px 10px;
			box-sizing: border-box;
		}
	}
	.wrapper {
		padding-bottom: 45px;
	}
}
.section.drinks {
	background-size: cover;
	background-color: $color-grey;
	background-position: center center;
	background-repeat: no-repeat;
	padding-top: 100px;
	color: #FFF;
	.overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,.65);
	}
	.content-image  {
		border-bottom: 1px solid rgba(255,255,255,.3);
		padding-bottom: 45px;
		margin-bottom: 50px;
	}
	.content-image img {
		max-width: 490px;
		width: 80%;
		height: auto;
	}
	.food-menu {
		margin-bottom: 30px;
	}
	.food-menu li {
		display: block;
		text-align: center;
		margin-bottom: 20px;
		@media screen and (min-width: $tabwidth) {
			width: 50%;
			float: left;
			margin-bottom: 0;
		}
	}
	.food-menu a {
		width: 230px;
		box-sizing: border-box;
		padding-left: 20px;
		padding-right: 20px;
	}

	.column {
		margin-top: 30px;
		font-weight: 300;
		text-align: left;
		@media screen and (min-width: $tabwidth) {
			width: 45%;
			float: left;
		}
	}
	.column.two {
		text-align: center;
		@media screen and (min-width: $tabwidth) {
			float: right;
		}
	}
	.col-title,.name {
		font-weight: 500;
		margin: 0 0 4px;
		font-size: 18px;
	}
	.details {
		margin: 0 0;
		padding: 0 0;
		list-style: none;
	}
	.details li {
		margin-top: 35px;
		position: relative;
		padding-right: 45px;
	}
	.details.features li {
		padding-right: 0;
	}
	.price {
		display: inline-block;
		position: absolute;
		top: 3px;
		right: 0;
	}
}
.section.dining {
	.section-title {
		color: $color-green;
		margin: 0 0;
		font-weight: 600;
		text-transform: uppercase;
	}
	.maintext {
		border-bottom: 1px solid #ddd;
		padding-bottom: 30px;
	}
}